body {
	max-width: 860px;
	min-width: 550px;
	margin: auto;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 100px;
}

#header {
	padding-top: 20px;
	min-height: 100px;
	background: url(images/logo.png) right -100px no-repeat;
	border-bottom: 5px dashed #ddd;
}
#header em {
	font-size: 15px;
	padding-top: 5px;
	display: block;
}

code {
	font-family: Menlo, "Courier New";
	font-size: 12px;
}

.form {
	min-height: 50px;
	margin-top: 20px;
	padding-bottom: 15px;
	border-bottom: 5px dashed #ddd;
}
.form h2 {
	float: right;
	color: #ccc;
	font-size: 20px;
	font-family: Menlo, "Courier New";
}
.form label {
	display: block;
	margin: 5px;
}
.form label span {
	margin-top: 6px;
	width: 120px;
	margin-right: 10px;
	text-align: right;
	display: block;
	float: left;
}
.form input[type="text"] {
	width: 300px;
	padding: 5px;
	font-family: Menlo, "Courier New";
}
.form input[type="button"] {
	font-size: 25px;
	padding: 10px;
}
.form textarea {
	width: 300px;
	height: 100px;
	font-family: Menlo, "Courier New";
}
.form textarea.big {
	margin-top: 10px;
	width: 100%;
	height: 300px;
}
.form label em {
	display: block;
	margin-left: 120px;
	padding: 10px;
	color: #999;
	width: 450px;
	line-height: 1.3em;
}
.form label em ul li {
	margin-bottom: 5px;
}
.form label em.eg {
	font-size: 11px;
	font-family: Menlo, "Courier New";
}

h1 {
	font-size: 20px;
	font-weight: bold;
}